body {background-color: black; background-size: cover}
.top{display: inline-table; margin: 0 auto; width: 100%;}
h1 {color: white; text-shadow: 4px 4px 20px gold; font-size: 70px; text-align: center;}
h2 {color: white; font-size: 40px; text-align: center;}
.text-progress{color: white; text-align: right; float: right; }
  .title, .progress{display: table-cell;}
  .title1{margin-left: 280px;}

  .text_answer{border-radius: 25px;
    border-width: 4px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    background: red;}

  progress {
  border: none;
  width: 200px;
  height: 20px;
}

progress {
  color: lightblue;
}

progress::-webkit-progress-value {
  background: red;
}

progress::-webkit-progress-value {
  background: #ffd700;
}

progress::-webkit-progress-bar {
  background: red;
}

.displayed {
  display: block;
  width: 400px; height: auto;
  margin-left: auto;
  margin-right: auto  }

  .man {
    display: inline;
    float: left;
    margin-left: 450px;
    width: auto; height: 350px;

  }
  .woman {
    display: inline;
    float: right;
    margin-right: 450px;
    width: auto; height: 350px;
  }

  .buttonMan {
    display: inline-block;
    float: left;
    margin-left: 450px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #FFFFFF;
    background-color: #ffd700;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .buttonMan:hover {background-color: #bfad36}
  .buttonMan:active {
    background-color: #bfad36;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .buttonWoman {
    display: inline-block;
    float: right;
    margin-right: 450px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #FFFFFF;
    background-color: #ffd700;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .buttonWoman:hover {background-color: #bfad36}
  .buttonWoman:active {
    background-color: #bfad36;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  ol{
    list-style: circle inside url('drawable/knife.png');
    padding: 50px;
    color: white;
    font-size: 35px;
    text-align: center;
  }

  #link {color: #FFFFFF;}

img{margin-left: auto;
margin-right: auto }

  .crime_scene{
    display: block;
    width: auto; height: 350px;
     }

  .detective_man{
    width: auto; height: 350px;
  }

  .detective_woman{
    width: auto; height: 350px;
  }

  .butcher{
    width: auto; height: 350px;
  }

  .phone{
    width: auto; height: 350px;
  }

  .car{
    width: auto; height: 350px;
  }

  .medical{
    width: auto; height: 350px;
  }

  .driver{
    width: auto; height: 350px;
  }

  .sister{
    width: auto; height: 350px;
  }

  .cartel{
    width: auto; height: 350px;
  }

  .suspect{
      width: auto; height: 350px;
  }

    ::-webkit-scrollbar {
        display: none;
    }

    .first { border-radius: 25px;
      display: block;
      border-style:dotted;
      border-width: 4px;
      width: 600px;
      height: 80px;
      padding: 30px;
      margin-left: auto;
      margin-right: auto;
      background: #ffd700;
      overflow-y: scroll;
    }

      button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 15px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #FFFFFF;
        background-color: #FF0000;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
      }

      button:hover {background-color: #bfad36}
      button:active {
        background-color: #bfad36;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }

      .buttonChoice1{float: left}
      .buttonChoice2{float: right}

      .next {
  display: inline-block;
  float: right;
  border-radius: 4px;
  background-color: #FF0000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 5px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.next span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.next span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.next:hover span {
  padding-right: 25px;
}

.next:hover span:after {
  opacity: 1;
  right: 0;
}

@-moz-keyframes spin {
  100% { -moz-transform: rotate(-180deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(-180deg); }
}
@keyframes spin {
  100% { -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
}

.phone {
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

.result{
  animation: glitch 1s linear infinite;
  color: white;
  height: 400px;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-family: 'Fira Mono', monospace;
  letter-spacing: -7px;
}

 @-webkit-keyframes glitch{
  2%,64%{
    -webkit-transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    -webkit-transform: translate(-2px,0) skew(0deg);
  }
  62%{
  -webkit-transform: translate(0,0) skew(5deg);
  }
}

div:before,
div:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

div:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@-moz-keyframes glitchTop{
  2%,64%{
    -webkit-transform: translate(2px,-2px);
  }
  4%,60%{
    -webkit-transform: translate(-2px,2px);
  }
  62%{
    -webkit-transform: translate(13px,-1px) skew(-13deg);
  }
}

div:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@-webkit-keyframes glitchBotom{
  2%,64%{
    -webkit-transform: translate(-2px,0);
  }
  4%,60%{
    -webkit-transform: translate(-2px,0);
  }
  62%{
    -webkit-transform: translate(-22px,5px) skew(21deg);
  }
}

.buttonHome {
  display: inline-block;
  float: left;
  margin-left: 450px;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #FFFFFF;
  background-color: red;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonHome:hover {background-color: #bfad36}
.buttonHome:active {
  background-color: #bfad36;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
